.checkoutProduct {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    width: 100%;
}

.checkoutProduct__image {
    display: grid;
}

.checkoutProduct__image img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    display: flex;
    font-size: 17px;
    font-weight: 800;
}